%br
= link_to 'New SC Fault Code', new_sc_fault_code_path
%br
%h1 Listing SC Fault Codes
= render :partial => 'advanced_search'
%br
= "Total Count: #{@sc_fault_codes.count}"
= will_paginate @sc_fault_codes, :page_links => true
%br
%br

%table.table.table-bordered.table-striped.table-hover
  .thead
    %th{:style=>'text-align:left; background-color: lightblue;'}
    %th{:style=>'text-align:left; background-color: lightblue;'}
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Fault Code
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Fault Reason
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Fault Kind

  .tbody
    - @sc_fault_codes.each do |sc_fault_code|
      %tr
        %td{:style=>'text-align:left;'}
          = link_to 'Show', sc_fault_code
        %td{:style=>'text-align:left;'}
          = link_to 'Edit', edit_sc_fault_code_path(sc_fault_code)  
        %td{:style=>'text-align:left;'}
          = sc_fault_code.fault_code
        %td{:style=>'text-align:left;'}
          = sc_fault_code.fault_reason
        %td{:style=>'text-align:left;'}
          = sc_fault_code.fault_kind