<br/>
<br/>
<h1>Listing Fault Code Masters</h1>
<br/>
<table class="table table-bordered table-striped table-hover">
  <div class="thead">
    <th style="text-align:left; background-color: lightblue;">
      Fault Code
    </th>
    <th style="text-align:left; background-color: lightblue;">
      Description
    </th>
    <th style="text-align:left; background-color: lightblue;">
      Reason
    </th>
    <th style="text-align:left; background-color: lightblue;">
      Resolution
    </th>
    <th style="text-align:left; background-color: lightblue;">
      Status Code
    </th>
    <th style="text-align:left; background-color: lightblue;">
      Sub Code
    </th>
    <th style="text-align:left; background-color: lightblue;">
      Source App
    </th>
    <th style="text-align:left; background-color: lightblue;">
      Error Classification
    </th>
    <th style="text-align:left; background-color: lightblue;">
      Remarks
    </th>
  </div>
  <div class="tbody">
    <% @fault_code_master.each do |code| %>
      <tr>
        <td style="text-align:left;">
          <%= code.fault_code %>
        </td>
        <td style="text-align:left;">
          <%= code.description %>
        </td>
        <td style="text-align:left;">
          <%= code.reason %>
        </td>
        <td style="text-align:left;">
          <%= code.resolution %>
        </td>
        <td style="text-align:left;">
          <%= code.status_code %>
        </td>
        <td style="text-align:left;">
          <%= code.sub_code %>
        </td>
        <td style="text-align:left;">
          <%= code.source_app %>
        </td>
        <td style="text-align:left;">
          <%= code.error_classification %>
        </td>
        <td style="text-align:left;">
          <%= code.remarks %>
        </td>
      </tr>
    <% end %>
  </div>
</table>
