<br/>
<br/>
<h1>Listing Fault Code Masters</h1>
<h1 style="text-align: right;"><%= link_to 'Download',download_fault_code_master_console_dbs_path%></h1>
<h2 class="collapsible">
  Advanced Search
  <span class="caret"></span>
</h2>
<div class="collapsible-content">
  <%= render :partial => 'advanced_search' %>
</div>
<%= will_paginate @fault_code_master, :page_links => true%>
<br/>
<table class="table table-bordered table-striped table-hover">
  <div class="thead">
    <th style="text-align:left; background-color: lightblue;">
      Fault Code
    </th>
    <th style="text-align:left; background-color: lightblue;">
      Description
    </th>
    <th style="text-align:left; background-color: lightblue;">
      Reason
    </th>
    <th style="text-align:left; background-color: lightblue;">
      Resolution
    </th>
    <th style="text-align:left; background-color: lightblue;">
      Status Code
    </th>
    <th style="text-align:left; background-color: lightblue;">
      Sub Code
    </th>
    <th style="text-align:left; background-color: lightblue;">
      Source App
    </th>
    <th style="text-align:left; background-color: lightblue;">
      Error Classification
    </th>
    <th style="text-align:left; background-color: lightblue;">
      Remarks
    </th>
  </div>
  <div class="tbody">
    <% @fault_code_master.each do |code| %>
      <tr>
        <td style="text-align:left;">
          <%= code.fault_code %>
        </td>
        <td style="text-align:left;">
          <%= code.description %>
        </td>
        <td style="text-align:left;">
          <%= code.reason %>
        </td>
        <td style="text-align:left;">
          <%= code.resolution %>
        </td>
        <td style="text-align:left;">
          <%= code.status_code %>
        </td>
        <td style="text-align:left;">
          <%= code.sub_code %>
        </td>
        <td style="text-align:left;">
          <%= code.source_app %>
        </td>
        <td style="text-align:left;">
          <%= code.error_classification %>
        </td>
        <td style="text-align:left;">
          <%= code.remarks %>
        </td>
      </tr>
    <% end %>
  </div>
</table>
